.boddy {
	background-image: url(assets/library-image.jpeg);

}

table {
	width: 90%;
	margin: 0 auto;

	tr {
		th {
			width: 100px;
		}
	}

}

.cart-body {
	width: 50%;
	margin: 0 auto;

}

.welcome {
	text-align: center;

}